:root {
    --primary-red: #b30000;
    --secondary-color: #ffffff;
    --text-color-dark: #333333;
    --gray-40: #666666;
    --gray-90: #e6e6e6;
    --background-color: #ffffff;
    --scroll-button-text-color: #1a1a1a;
    --scroll-button-hover-text-color: #1a1a1a;
    --scroll-button-hover-background-color: #f8f8f8;
    --scroll-button-box-shadow-color: rgba(0, 0, 0, 0.2);
    --project-card-shadow-color: rgba(102, 0, 0, 0.5);
}

html[data-theme='dark'] {
    --primary-red: #ff4040;
    --secondary-color: #1a1a1a;
    --text-color-dark: #ffffff;
    --gray-40: #b3b3b3;
    --gray-90: #333333;
    --background-color: #121212;
    --scroll-button-text-color: #ffffff;
    --scroll-button-hover-text-color: #1a1a1a;
    --scroll-button-hover-background-color: #e6e6e6;
    --scroll-button-box-shadow-color: #ffffff;
    --project-card-shadow-color: #ffffff;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--background-color);
    color: var(--text-color-dark);
}

* {
    transition: background-color 0.3s ease,
        color 0.3s ease,
        border-color 0.3s ease,
        box-shadow 0.3s ease;
}